{% extends "layout.html" %}
{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sea/image_list.css' %}">

<table id="image_list" class="image-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>200</th>
                        <th>400</th>
                        <th>Origin image</th>

                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                {% for image in image_list %}
                                    {{ image.id }}<br>
                                {% endfor %}
                            <td>
                                {% for image in image_list %}
                                    {{ image.origin_image }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for image in thumbnail_200 %}
                                    <a href="\media\{{ image.thumbnail_200 }}"> 200 px</a><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for image in thumbnail_400 %}
                                    <a href="\media\{{ image.thumbnail_400 }}"> 400 px</a><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for image in origin_image %}
                                    <a href="\media\{{ image.origin_image }}"> origin image </a><br>
                                {% endfor %}
                            </td>



                        </tr>



                </tbody>
            </table>
<tbody>

    </tbody>


{% endblock %}