{% extends "layout.html" %}
{% block body %}
<table id="image_list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>origin_list</th>
                        <th>200</th>
                        <th>400</th>

                    </tr>
                </thead>
                <tbody>

                {% for image in image_list %}
                        <tr>
                            <td>
                                {{ image.id }}

                            <td>
                                <a href="\media\{{ image.origin_image }}">{{ image.origin_image }}</a>

                            </td>

                            <td>
                                <a href="\media\{{ image.thumbnail_200 }}">{{ image.thumbnail_200 }}</a>
                            </td>

                            <td>
                                <a href="\media\{{ image.thumbnail_400 }}">{{ image.thumbnail_400 }}</a>
                                {% endfor %}
                            </td>



                        </tr>



                </tbody>
            </table>

{% endblock %}