{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sea/navbar.css' %}">

<div class="mybar">
    <div class="navbar-left-side">
        <a class="item nav-link" href="{% url 'upload_image' %}">Upload image</a>
        <a class="item nav-link" href="{% url 'image_list' %}">Image list</a>
    </div>
    <div class="navbar-right-side">
        <div class="status">
            <span>Hello, {{ request.user }}, </span>
            <span>Your tiers plan is {{ request.user.groups.first }} </span>
        </div>
        <a class="item nav-link disabled" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
